@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#main-container{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #393c4ee1;
    color: #fff;
}

#top-div{
    height: 60%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:bottom;
    background-size: cover;
    display: flex;
    
}

#overlay{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.301);
}

#pissing_guy{
    position: absolute;
    top: 220px;
    left: 280px;
    width: 300px;
    height: 160px;
}
#text{
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 20%;
    /* background-color: rgba(163, 39, 80, 0.685); */
    padding: 0 5vw;
    justify-content: space-between;
}

#text h3{
    font-size: 3vw;
    font-weight: 200;
}

#right-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellowgreen; */
    width: 60%;
   
}

#icons{
    /* background-color: chocolate; */
    align-items: center;
    justify-content: center;
}

#right-text p{
    font-size: 16px;
    width: 40%;
}

#bottom-div{
    height: 40%;
    width: 100%;
    background-color: yellow;
    display: flex;
}

#div-one{
    height: 100%;
    width: 25%;
    background-color: aqua;
}

#div-two{
    height: 100%;
    width: 25%;
    background-color: rgb(117, 235, 39);
}

#div-three{
    height: 100%;
    width: 25%;
    background-color: rgb(115, 14, 161);
}

#div-four{
    height: 100%;
    width: 25%;
    background-color: rgb(240, 100, 45);
}