@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#main-container{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #393c4ee1;
    color: #fff;
}

/* -----------------------Top Division----------------------- */

#top-div{
    height: 60%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:bottom;
    background-size: cover;
    display: flex;
    
}

/* -----------------------Bakchodi (background image pe) ----------------------- */
#pissing_guy {
    position: absolute;
    top: 192px;
    left: 194px;
    width: 350px;
    height: 200px;
}

/* -----------------------Overlay with all text part----------------------- */

#overlay{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.301);
}


/* -----------------------Top Nav Bar (Left Side)----------------------- */

#profile-nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    height: 30px;
    width: 100%;
    /* background-color: rgba(238, 130, 238, 0.39); */
    padding: 0 5vw;
    top: 20%;
}

#profile-nav i{
    font-size: 1.5vw;
    padding-right: 20px;
    color: #FF3800; 
    /* text-align: center; */
}

#profile-nav p{
    font-size: 14px;
    padding-right: 90%;
}

/* -----------------------Top Nav Bar (Right Side)----------------------- */

#right-nav{
    right: 20%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* width: 80%; */
    /* background-color: teal; */
}

#right-nav i {
    color: #fff;
    font-size: 20px;
    width: 20%;
}

/* -----------------------Top Div Content (Left Side)----------------------- */


#text{
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 20%;
    /* background-color: rgba(163, 39, 80, 0.685); */
    padding: 0 5vw;
    justify-content: space-between;
}

#text h3{
    font-size: 3vw;
    font-weight: 200;
}

/* -----------------------Top Div Content (Right Side)----------------------- */

#right-text {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* background-color: yellowgreen; */
    width: 48%;
   
}

#icons{
    /* background-color: chocolate; */
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}

#right-text h4{
    padding-bottom: 20px;
    font-weight: 400;
}
#right-text p{
    font-size: 14px;
    font-weight: 200;
    width: 70%;
    /* background-color: #FF3800; */
}

/* -----------------------Bottom Division----------------------- */

#bottom-div{
    height: 40%;
    width: 100%;
    background-color: yellow;
    display: flex;
}

/* -----------------------Sub-Bottom Division----------------------- */

/* ___First Div___ */

#div-one{
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgb(250, 255, 255);
    color: #000;
    padding: 50px 180px 50px 100px;
    display: flex;
    flex-direction: column;
}

#div-one h4{
    padding-bottom: 30px;
    font-weight: 400;
    color: #5c5959fd;
}

#div-one p{
    font-size: 16px;
    font-weight: 200;
}

#arrow-div{
    position: absolute;
    bottom: 15%;
    align-items: center;
    justify-content: center ;
    font-size: 1.3vw;
}

/* ___Second Div___ */  

#div-two{
    height: 100%;
    width: 25%;
    background-color: rgb(117, 235, 39);
}


/* ___Third Div___ */

#div-three{
    height: 100%;
    width: 25%;
    background-color: rgb(115, 14, 161);
}


/* ___Fourth Div___ */

#div-four{
    height: 100%;
    width: 25%;
    background-color: rgb(240, 100, 45);
}